body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    padding: 50px;
}
li,
p {
    margin: 0;
    padding: 0;
}
