.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    padding: 50px;

    background-color: #e7ecf2;
}
li,
ul,
h1,
h2,
h3,
h4 p {
    margin: 0;
    padding: 0;
}
